@model IEnumerable<WebApplication2.Models.MaintanenceOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerApproval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintanenceVisit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintanenceCompletion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFeedbackStar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFeedback)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApartmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerApproval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaintanenceVisit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaintanenceCompletion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFeedbackStar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFeedback)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
